{%extends "skeleton.html"%}

{%block title %}About{% endblock %}

{%block content%}
<div class="jumbotron">
  <h4>Instructions:</h4>
  <ul>
    <li>Click the CAT logo to return to the home page.
    <li>Click the sensor buttons at the top of the page to see the latest data for each sensor.
    <li>Each sensor page includes a refresh button to load new data and a csv button to download the sensor's entire dataset.
    <li>The motors page also includes buttons to pulse each motor for one second.
  </ul>
<br><br>
<ul>CAT web interface built for UNSW and LaTrobe University using jinja2 and bootstrap.
<br> Code available on <a href='https://github.com/danrs/sensor_db'>GitHub</a>.
</div>
{%endblock content%}
