{%extends "skeleton.html"%}

{%block title %}About{% endblock %}

{%block content%}
<div class="jumbotron">
  <h3>Instructions:</h3>
  <ul>
    <li>Click the CAT logo to return to the home page.
    <li>Click the sensor buttons at the top of the page to see the latest data for each sensor.
    <li>Each sensor page includes a refresh button to load new data and a csv button to download the sensor's entire dataset.
    <li>The motors page also includes buttons to pulse the motors for one second each.
  </ul>
<br><br>
<p>CAT web interface built for UNSW and LaTrobe University using jinja2 and bootstrap.
</div>
{%endblock content%}
