{%extends "skeleton.html"%}

{%block title %}{{sensor}}{% endblock %}


{%block content%}
<!--Print intro text-->
<div class="jumbotron">
    <a name="top"></a>
    <h2>{{sensor ~ " data"}}</h2>
    <br>
    {% block extra_buttons %}
      <!--put extra buttons and things here-->
    {% endblock %}
    <a href="{{script_uri ~ "/" ~ sensor ~ "#table_end"}}" class="btn btn-success" onclick="location.reload()">Update</a>
    <a href="{{script_uri ~ "/" ~ sensor ~ "/csv"}}" class="btn btn-primary">View all as csv</a>
    <br>
    <br>
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          {% for entry in table_head %}
            <th>{{entry}}<th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in table_data %}
          <tr>
            {% for entry in row %}
               <td>{{entry}}<td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a name="table_end"></a>
    <a href="{{script_uri ~ "/" ~ sensor ~ "#table_end"}}" class="btn btn-success" onclick="location.reload()">Update</a>
    <a href="{{script_uri ~ "/" ~ sensor ~ "#top"}}" class="btn btn-default">Back to top</a>
</div>

<div class="container">
</div>

{%endblock content%}
